@page "/"

@using Syncfusion.Blazor.Data;

<div class="control_wrapper">
    <SfComboBox TValue="string" TItem="ComboBoxDataModel" PopupHeight="400px"
                PopupWidth="350px" Placeholder="Select a country" DataSource="@ComboBoxData">
        <ComboBoxFieldSettings Value="CountryId" Text="CountryName"></ComboBoxFieldSettings>
        <ComboBoxEvents ValueChange="OnCountryChange" TItem="ComboBoxDataModel" TValue="string"></ComboBoxEvents>
    </SfComboBox>
</div>
<div class="control_wrapper">
    <SfComboBox PopupHeight="400px" PopupWidth="350px" @bind-Value="@statevalue" TItem="ComboBoxDataModel" TValue="string"
                DataSource="@ComboBoxData1" Placeholder="Select a state" Enabled="@EnableComboBox"
                Query="@DataQuery">
        <ComboBoxFieldSettings Value="StateId" Text="StateName"></ComboBoxFieldSettings>
    </SfComboBox>
</div>

@code {

    public bool EnableComboBox = false;
    public Query DataQuery { get; set; } = null;
    public string statevalue = null;
    public void OnCountryChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, ComboBoxDataModel> args)
    {
        this.EnableComboBox = true;
        this.DataQuery = new Query().Where(new WhereFilter() { Field = "CountryId", Operator = "equal", value = args.Value });
        this.statevalue = null;
    }


    public class ComboBoxDataModel
    {
        public int CountryId { get; set; }
        public string CountryName { get; set; }
        public int StateId { get; set; }
        public string StateName { get; set; }
    }

    List<ComboBoxDataModel> ComboBoxData = new List<ComboBoxDataModel>()
    {
        new ComboBoxDataModel() {  CountryId = 1, CountryName = "United States" },
        new ComboBoxDataModel() {  CountryId = 2, CountryName = "Australia" }
    };
    List<ComboBoxDataModel> ComboBoxData1 = new List<ComboBoxDataModel>()
    {
        new ComboBoxDataModel() {  StateId = 101, StateName = "New York", CountryId = 1 },
        new ComboBoxDataModel() {  StateId = 102, StateName = "Virginia", CountryId = 1 },
        new ComboBoxDataModel() {  StateId = 103, StateName = "Tasmania", CountryId = 2 },
        new ComboBoxDataModel() {  StateId = 104, StateName = "Victoria", CountryId = 2 },
        new ComboBoxDataModel() {  StateId = 105, StateName = "Queensland", CountryId = 2 }
    };
}


<style>
    .control_wrapper {
        width: 350px;
        margin-left: 30%;
        margin-right: 40%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
</style>
